body{
    background: #1e1f24;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(49, 48, 48);
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera{
    background: #37488b;
    box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5rem;
}
#cabecera #logo{
    width: 20px;
    vertical-align: middle;
}
#cabecera #tagline{
    margin: 0 0 0 1rem;
    font-weight: normal;
    font-size: 0.8rem;
}
#container{
    width: 70%;
    padding: 1rem;
    text-align: left;
    border: 1px solid #adabab;
    margin: 0 auto;
    box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.2);
}
#container h1{
    font-size: 25px;
}
#post{
    background: white;
    padding: 1em;
}