body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 51, 51);
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera{
    background-color: rgb(71, 71, 180);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5rem;
}
#cabecera #tagline{
    margin: 0 0 0 1rem;
    font-weight: normal;
    font-size: 0.8rem;
}
#container{
    width: 70%;
    padding: 1rem;
    text-align: left;
    border: 1px solid #adabab;
    margin: 0 auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#container h1{
    font-size: 25px;
}